<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="windows-1251">
        <title>HackerFace|Student Database</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/styles_2.css">
        <link rel="icon" href="images/favicon.ico">
    </head>
    <body>
        <section class="header">
            <div class="logo-section">
                <img src="images/kfu-logo.png" alt="kfu-logo">
            </div>
            <div class="navbar">
                <ul class="navbar-menu">
                    <li>
                        <a href="index.cgi" class="link-active">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="blog.cgi" class="link-active">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="stats.cgi" class="link-active" target="_parent">
                            Performance
                        </a>
                    </li>
                    <li>
                        <a href="about.cgi" class="link-active" target="_parent">
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="main-container">
            <div class="div-welcome typewriter container-welcome">
                <p style="display: inline">HackerFace <span style="color: red">Student</span> Database</p>
            </div>
            <div class="div-form" style="margin-top:  80px">
                <div class="form-add-student">
<!--THANOS-->
                </div>
                <div class="data-collector">
<!--FORM-->
                </div>
                <div class="data-repr">
<!--CONTENT-->
                </div>
            </div>
        </section>
    </body>
</html>
